<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BasicTestSuite" parallel="tests" thread-count="2">
	<listeners>
		<listener
			class-name="com.hotel.listener.ExtentReportListener" />
	</listeners>
	<test name="ChromeTest" parallel="classes" thread-count="5">
	<parameter name="browser" value="chrome"  />
		<classes>
			<class name="com.hotel.webtests.LoginTest" />
			<class name="com.hotel.webtests.LogoutTest" />
			<class name="com.hotel.webtests.MyPageTest" />
			<class name="com.hotel.webtests.ReservationPageTest" />
			<class name="com.hotel.webtests.ReservationPlanTest" />
			<class name="com.hotel.webtests.ReservationTest" />
			<class name="com.hotel.webtests.SignUpTest" />
		</classes>
	</test>
	<test name="FirefoxTest">
	<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.hotel.webtests.ReservationTest" />
		</classes>
	</test>
</suite>
